{{#section 'css'}}
    <!-- Favicon -->
    <link rel="icon" href="/book-shop/img/logo.png">
    <!-- Bundle -->
    <link rel="stylesheet" href="/css/bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="/css/wow.css">
    <link rel="stylesheet" href="/css/LineIcons.min.css">
    <!-- Mega Menu  -->
    <link rel="stylesheet" href="/css/megamenu.css">
    <!-- StyleSheet  -->
    <link rel="stylesheet" href="/book-shop/css/style.css">
    <!-- Custom Css  -->
    <link rel="stylesheet" href="/book-shop/css/custom.css">

    {{!-- Font awesome Bootstrap --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
{{/section}}

<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('/book-shop/img/banner1.3.jpg');">
</section>
<!--slider sec end-->

<!-- START HEADING SECTION -->
<div class="about_content">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10  text-center text-lg-left wow slideInUp" data-wow-duration="2s">
                <h1 class="heading">Get Ready For Checkout?</h1>
                <p class="para_text"></p>
            </div>
        </div>
    </div>


    <!-- START SHOP CART SECTION -->
    <div class="shop-cart wow slideInUp" data-wow-duration="2s">
        <div class="container">
            <!-- START SHOP CART TABLE -->
            <div class="row pt-5">
                <div class="col-12 col-md-12  cart_table wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="table-responsive">
                        <table class="table table-bordered border-radius">
                            <thead>
                            <tr>
                                <th class="darkcolor">Product</th>
                                <th class="darkcolor">Price</th>
                                <th class="darkcolor">Quantity</th>
                                <th class="darkcolor">Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="d-table product-detail-cart">

                                        <div class="media">
                                            <div class="row no-gutters">

                                                <div class="col-12 col-lg-2 product-detail-cart-image">
                                                <a class="shopping-product" href="#"><img src="/book-shop/img/shopcart-1.jpg" alt="Generic placeholder image"></a>
                                                </div>

                                                <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                    <div class="media-body ml-lg-3">
                                                        <h4 class="product-name"><a href="#">Love Does</a></h4>
                                                        <p class="product-des">We offer the most complete in the country</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4 class="text-center amount">$130.00</h4>
                                </td>
                                <td class="text-center">
                                    <div class="quote text-center mt-1">
                                        <input type="number" placeholder="1" class="quote" min="1" max="100">
                                    </div>
                                </td>
                                <td>
                                    <h4 class="text-center amount">$136.00</h4>
                                </td>
                                <td class="text-center"><a class="btn-close" href="#"><i class="lni-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-table product-detail-cart">

                                        <div class="media">
                                            <div class="row no-gutters">

                                                <div class="col-12 col-lg-2 product-detail-cart-image">
                                                    <a class="shopping-product" href="#"><img src="/book-shop/img/shopcart-2.jpg" alt="Generic placeholder image"></a>
                                                </div>

                                                <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                    <div class="media-body ml-lg-3">
                                                        <h4 class="product-name"><a href="#">The Last Stand</a></h4>
                                                        <p class="product-des">We offer the most complete in the country</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4 class="text-center d-table-price amount">$100.00</h4>
                                </td>
                                <td class="text-center">
                                    <div class="quote text-center mt-1">
                                        <input type="number" placeholder="1" class="quote" min="1" max="100">
                                    </div>
                                </td>
                                <td>
                                    <h4 class="text-center amount">$106.00</h4>
                                </td>
                                <td class="text-center"><a class="btn-close" href="#"><i class="lni-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-table product-detail-cart">

                                        <div class="media">
                                            <div class="row no-gutters">

                                                <div class="col-12 col-lg-2 product-detail-cart-image">
                                                    <a class="shopping-product" href="#"><img src="/book-shop/img/shopcart-1.jpg" alt="Generic placeholder image"></a>
                                                </div>

                                                <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                    <div class="media-body ml-lg-3">
                                                        <h4 class="product-name"><a href="#">The Road</a></h4>
                                                        <p class="product-des">We offer the most complete in the country</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h4 class="text-center d-table-price amount">$150.00</h4>
                                </td>
                                <td class="text-center">
                                    <div class="quote text-center mt-1">
                                        <input type="number" placeholder="1" class="quote" min="1" max="100">
                                    </div>
                                </td>
                                <td>
                                    <h4 class="text-center amount">$150.00</h4>
                                </td>
                                <td class="text-center"><a class="btn-close" href="#"><i class="lni-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="apply_coupon">
                        <div class="row">
                            <div class="col-12 col-lg-6 wow slideInRight" data-wow-duration="2s">
                                <div class="card-total">
                                    <h4 class="heading">Card Total</h4>
                                    <table>
                                        <tr>
                                            <td>Subtotal</td>
                                            <td>$251.00</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td>
                                            <td>
                                                <ul class="color-grey">
                                                    <li>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="flat-rate" name="shipping" class="custom-control-input" checked="">
                                                            <label class="custom-control-label pl-4" for="flat-rate">Flat Rate : $49.00</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                            <label class="custom-control-label pl-4" for="free-shipping">Free Shipping</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="cod-shipping" name="shipping" class="custom-control-input">
                                                            <label class="custom-control-label pl-4" for="cod-shipping">Cash on Delivery</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td>$300.00</td>
                                        </tr>
                                    </table>
                                    <div class="col-6 text-left">
                                        <a href="#" class="btn green-color-yellow-gradient-btn ">CHECKOUT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SHOP CART TABLE -->

            <!-- START SHOP CART CHECKOUT FORM -->
            
            <!-- END SHOP CART CHECKOUT FORM -->

        </div>
    </div>
    <!-- END SHOP CART SECTION-->

</div>
<!-- END HEADING SECTION -->

{{#section 'js'}}
    <!-- JavaScript -->
    <script src="/js/bundle.min.js"></script>
    <!-- Plugin Js -->
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.cubeportfolio.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/bootstrap-input-spinner.js"></script>
    <script src="/js/parallaxie.min.js"></script>
    <!-- Custom Script -->
    <script src="/js/script.js"></script>
{{/section}}
